.u-section-1 .u-sheet-1 {
  min-height: 544px;
}

.u-section-1 .u-text-1 {
  margin: 29px 17px 0;
}

.u-section-1 .u-text-2 {
  margin: 29px 17px 0;
}

.u-section-1 .u-group-1 {
  width: 1117px;
  min-height: 140px;
  margin: 53px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 41px 14px 0 auto;
  padding: 10px 51px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px 296px 0 auto;
  padding: 10px 46px 10px 45px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: -45px auto 0 13px;
  padding: 4px 10px 4px 9px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -46px auto 0 294px;
  padding: 10px 68px 10px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    min-height: 219px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 87px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 239px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -44px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -47px;
    margin-left: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 110px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -133px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -45px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 38px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -110px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 220px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 55px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -155px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 128px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}@font-face {
  font-family: 'OCRAEXT';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OCRAEXT.TTF);
}